/* Center the page */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

/* Form box */
.login-form {
  width: 320px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Title */
.login-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Labels */
.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

/* Inputs */
.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.login-form input:focus {
  border-color: #007bff;
}

/* Button */
.login-form button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background: #0056b3;
}



/* Navbar */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #222;
}

.navbar .logo {
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}





/* car  */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  padding: 1.5rem;
  border-radius: 8px;
  background: #f5f5f5;
}

.card h3 {
  margin-bottom: 0.5rem;
}
